name: Build docs

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Sphinx
        run: |
          python -m pip install --upgrade pip
          python -m pip install sphinx

      - name: Build HTML documentation
        working-directory: docs
        run: |
          make html

      - name: Upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: docs/build/html
